composer.lock
composer.phar

.phpunit.result.cache
.phpunit.cache

/vendor

### Netbeans ###
nbproject

### PhpStorm ###
.idea

### Sublime Text ###
*.sublime-*
!*.sublime-project

### VS Code ###
.vscode/

### OS Specific ###
.DS_Store
Thumbs.db