
body {
    background: #fff;
    color: #4e4e4e;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 31px;
    letter-spacing: 0;
    font-weight: 400;
    padding: 0;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: relative;
    padding: 20px 0 0 0;
    font-weight: normal;
    line-height: 1.8;
    color: #580000;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 14px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none !important;
}

p {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    margin-top: 15px;
}

img.aligncenter {
    display: block;
    text-align: center;
    display: block;
    margin: 0 auto 20px auto;
    padding: 0px;
    border: 0px;
    background: none;
}

ul {
    padding: 0;
    list-style: none;
}

ol li ul li {
    padding-left: 20px;
}

img.alignleft {
    float: left;
    margin: 6px 20px 6px 0;
    display: inline;
    border: 0px;
    background: none;
    padding: 0;
    display: block;
}

img.alignright {
    padding: 0;
    float: right;
    margin: 6px 0 6px 20px;
    border: 0px;
    display: block;
    background: none;
}

.header_wrap{
    background: #350000 center center;
    background: radial-gradient(circle, #520000, #000000) center center;
    background-image: url('../images/header_bg.jpg');
    background-size: cover;
    margin-bottom: 40px;
}

pre {
    line-height: 18px;
    margin-bottom: 18px;
}

a{
    color: #921010;
    transition: 0.5s;
    text-decoration: underline;
}

a:hover, a:focus{
    color: #d00707;
}

.btn, a {
    outline: 0 !important;
}
.btn{
    text-decoration: none;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

p {
    padding: 0 0 20px 0;
}

.section {
    padding: 100px 0;
    position: relative;
    display: block;
}

.white {
    background-color: #ffffff;
}

strong {
    color: #301010;
}

.grey {
    background-color: #f3f3f3;
}

.big-title h1 {
    color: #ffffff;
    font-size: 56px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.section.docs-heading {
    padding: 40px 0;
}

.dark-text {
    font-size: 4.125rem;
    line-height: 4.063rem;
    font-weight: 300;
}

h4 a {
    font-size: 14px;
    font-weight: bold;
}

.dark-text a {
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
}

.dark-text hr {
    width: 130px;
    margin-left: 0;
    margin-top: 40px;
    border-width: 1px;
    border-color: #030303;
}

.intro {
    padding: 20px;
}

.intro1 {
    margin-top: 22px;
    padding: 30px 0px;
    background-color: #f3f3f3;
}

.intro1 li {
    list-style: none;
}

.intro1 a {
    color: #8c0606 !important;
}

.intro a {
    color: #8c0606;
    font-weight: 400;
    font-size: 16px;
}

.lead {
    color: #9a9a9a;
    text-transform: capitalize;
}

.left-align img {
    margin-top: 20px;
}

.intro1 ul {
    padding: 0 30px;
}

@media(min-width: 480px){
    .main-content section{
        padding-left: 15px;
    }
}

.hasHashIcon{
    position: relative;
}
a.hashIcon {
    display: none;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    left: -25px;
    padding: 10px 0 0 0;
    position: absolute;
    top: 20px;
    width: 30px;
}
.hasHashIcon:hover a.hashIcon{
    display: block;
}

/*.btn-primary {
    background-color: #0E97EE;
    border: 1px solid #2187BB;
}

.btn-primary:hover {
    background-color: #2187BB;
    border: 1px solid #0E97EE;
}

.btn-info {
    background-color: #545454;
    border: 1px solid #656565;
}

.btn-info:hover {
    background-color: #656565;
    border: 1px solid #545454;
}*/

/* Sidebar fixed */
.affix {
    position: static;
}

@media (min-width: 992px) {
    .affix,
    .affix-bottom {
        width: 213px
    }
    .affix {
        position: fixed;
        top: 20px
    }
    .affix-bottom {
        position: absolute
    }
    .affix .bs-docs-sidenav,
    .affix-bottom .bs-docs-sidenav {
        margin-top: 0;
        margin-bottom: 0
    }
}

@media (min-width: 1200px) {
    .affix,
    .affix-bottom {
        width: 263px
    }
}

/* SIDEBAR */

@media (min-width: 768px) {
    .docs-sidebar {
        padding-top: 20px;
        padding-left: 20px
    }
}

/* all links */
.docs-sidebar .nav>li>a {
    color: #111;
    border-left: 2px solid transparent;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

/* nested links */
.docs-sidebar .nav .nav>li>a {
    padding-left: 40px;
    font-size: 14px;
}

/* hover links */ 
.docs-sidebar .nav>li:not(.active)>a:hover {
    color: #921010;
    text-decoration: none;
    background-color: transparent;
    border-left-width: 1px;
    border-left-color: #580000;
}
/* focus links */
.docs-sidebar .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}
/* active links */
.docs-sidebar .nav>.active>a {
    color: #921010;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #580000;
}
/* all active links */
.docs-sidebar .nav>.active>a, 
.docs-sidebar .nav>.active:hover>a,
.docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.docs-sidebar .nav .nav>.active>a, 
.docs-sidebar .nav .nav>.active:hover>a,
.docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

@media (min-width: 992px) {
    .docs-sidebar .nav ul {
        display: none;
        padding-bottom: 10px;
    }
    .docs-sidebar .nav>.active>ul {
        display: block
    }
}